{% extends 'base.html.twig' %}

{% block title %} Snacks, sucreries… Commandez ce que vous aimez {% endblock %}

{% block meta %}
  <meta name="description" content="Découvrez nos snacks faits maison, sucrés et salés, livrés avec soin.">
  <meta property="og:title" content="Douceurs Artisanaux - Leila" />
{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

 
    <h1>Paiement annulé ❌</h1>
    <p>Vous pouvez réessayer si vous le souhaitez.</p>

</div>
{% endblock %}

