{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe - Leila Snacks{% endblock %}

{% block body %}
<div class="flex items-center justify-center bg-white dark:bg-[#333] py-6 px-4 sm:px-6 lg:px-8 flex-grow">
    <div class="max-w-md w-full bg-white dark:bg-[#333] p-8 rounded-lg shadow-xl border border-jaunePale space-y-6">
        <h2 class="text-2xl font-bold text-roseFonce">Réinitialisation du mot de passe</h2>

        <form method="post">
            {{ form_start(form) }}
            {{ form_row(form.password) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </form>
    </div>
</div>
{% endblock %}